{
  "log": {
    "_recordingName": "System test: blank nodes/Alice's friends with one expression",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.1.0"
    },
    "entries": [
      {
        "_id": "507d404fa3ee4e67dbab36f1b69a3e23",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://drive.verborgh.org/public/2019/blanks.ttl"
        },
        "response": {
          "content": {
            "mimeType": "text/turtle",
            "size": 305,
            "text": "@prefix foaf: <http://xmlns.com/foaf/0.1/>.\n\n<#Alice> foaf:name \"Alice\";\n         foaf:knows [ foaf:name \"Bob\" ],\n                    [ foaf:name \"Carol\" ].\n\n<#Alice2> foaf:name \"Alice2\";\n          foaf:knows <#Bob2>,\n                     <#Carol2>.\n<#Bob2> foaf:name \"Bob2\".\n<#Carol2> foaf:name \"Carol2\"."
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/turtle"
            },
            {
              "name": "updates-via",
              "value": "wss://drive.verborgh.org/"
            },
            {
              "name": "accept-patch",
              "value": "application/sparql-update"
            },
            {
              "name": "allow",
              "value": "OPTIONS, HEAD, GET, PATCH, POST, PUT, DELETE"
            },
            {
              "name": "ms-author-via",
              "value": "SPARQL"
            },
            {
              "name": "last-modified",
              "value": "Sat, 25 Apr 2020 21:42:00 GMT"
            },
            {
              "name": "etag",
              "value": "\"1587850920000\""
            },
            {
              "name": "link",
              "value": "<http://www.w3.org/ns/ldp#Resource>; rel=\"type\", <https://drive.verborgh.org/public/2019/blanks.ttl.acl>; rel=\"acl\""
            },
            {
              "name": "wac-allow",
              "value": "user=\"read\",public=\"read\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1297,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
