{
  presets: [
    ["@babel/env"],
  ],
  plugins: [
    ["@babel/plugin-proposal-class-properties"],
    ["babel-plugin-inline-import", {
      extensions: [
        ".ttl",
        ".sparql",
      ],
    }],
  ],
}
