{
  "log": {
    "_recordingName": "System test: profile/main profile fields",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.1.0"
    },
    "entries": [
      {
        "_id": "e40ceebeb0ff72f5cc24f40d3a7ebf8f",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://ruben.verborgh.org/profile/"
        },
        "response": {
          "content": {
            "mimeType": "text/turtle; charset=utf-8",
            "size": 289762,
            "text": "@prefix : <https://ruben.verborgh.org/profile/#>.\n@prefix p: <https://data.verborgh.org/people/>.\n@prefix bibo: <http://purl.org/ontology/bibo/>.\n@prefix cc: <http://creativecommons.org/ns#>.\n@prefix con: <http://www.w3.org/2000/10/swap/pim/contact#>.\n@prefix dbo: <http://dbpedia.org/ontology/>.\n@prefix dbp: <http://dbpedia.org/resource/>.\n@prefix dc: <http://purl.org/dc/terms/>.\n@prefix dcat: <http://www.w3.org/ns/dcat#>.\n@prefix foaf: <http://xmlns.com/foaf/0.1/>.\n@prefix ldp: <htt[...]
