{
  "log": {
    "_recordingName": "System test: PUT/PUTting a Turtle document",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "78931cfd34cc6dbe7dea87154278b303",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "text/turtle"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "text/turtle",
            "params": [],
            "text": "# Turtle document\n"
          },
          "queryString": [],
          "url": "https://drive.verborgh.org/public/destination"
        },
        "response": {
          "content": {
            "mimeType": "text/plain; charset=utf-8",
            "size": 7,
            "text": "Created"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain; charset=utf-8"
            },
            {
              "name": "allow",
              "value": "OPTIONS, HEAD, GET, PATCH, POST, PUT, DELETE"
            },
            {
              "name": "link",
              "value": "<destination.acl>; rel=\"acl\", <destination.meta>; rel=\"describedBy\", <http://www.w3.org/ns/ldp#Resource>; rel=\"type\""
            },
            {
              "name": "ms-author-via",
              "value": "SPARQL"
            },
            {
              "name": "etag",
              "value": "W/\"7-rM9AyJuqT6iOan/xHh+AW+7K/T8\""
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 237,
      },
      {
        "_id": "573cbe5fa9b204bbcf4cae575188ef7d",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://drive.verborgh.org/public/destination"
        },
        "response": {
          "content": {
            "mimeType": "text/turtle",
            "size": 80,
            "text": "[\"1f8b0800000000000003535608292d2ac9495548c94f2ecd4dcd2be1020046ae618812000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/turtle"
            },
            {
              "name": "allow",
              "value": "OPTIONS, HEAD, GET, PATCH, POST, PUT, DELETE"
            },
            {
              "name": "link",
              "value": "<destination.acl>; rel=\"acl\", <destination.meta>; rel=\"describedBy\", <http://www.w3.org/ns/ldp#Resource>; rel=\"type\""
            },
            {
              "name": "wac-allow",
              "value": "user=\"read write append\",public=\"read write append\""
            },
            {
              "name": "ms-author-via",
              "value": "SPARQL"
            },
            {
              "name": "updates-via",
              "value": "wss://drive.verborgh.org"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 145,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
